<form [formGroup]="formGroup" *ngIf="formGroup">

	<h5>
		Cadastro de Usuário
		<!-- Mostra o ID do usuário caso tiver -->
		<span class="text-danger" *ngIf="usuario?.id">
			ID #{{usuario?.id}}
		</span>
	</h5>

	<div class="row mt-3">
		<!-- Campo de UserName -->
		<div class="col-md-3 form-group">
			<label class="form-control-label">Login do usuário</label>
			<input type="text" class="form-control" formControlName="username">
			<!-- span verifica se o usuário já passou por ele ou está sujo que ocorre depois do submit do form -->
			<span class="text-danger" *ngIf="(username?.dirty || username?.touched) && username?.invalid">
				<span *ngIf="username?.errors?.required">
					Campo obrigatório.
				</span>
				<span *ngIf="username?.errors?.minlength">
					O campo deve ter no mínimo {{username?.errors?.minlength.requiredLength}} caracteres.
				</span>
				<span *ngIf="username?.errors?.maxlength">
					O campo deve ter no máximo {{username?.errors?.maxlength.requiredLength}} caracteres.
				</span>
			</span>
		</div>

		<!-- Campo de Senha -->
		<div class="col-md-3 form-group">
			<label class="form-control-label">Senha</label>
			<input type="password" class="form-control" formControlName="password">
			<span class="text-danger" *ngIf="(password?.dirty || password?.touched) && password?.invalid">
				<span *ngIf="password?.errors?.required">
					Campo obrigatório.
				</span>
				<span *ngIf="password?.errors?.minlength">
					O campo deve ter no mínimo {{password?.errors?.minlength.requiredLength}} caracteres.
				</span>
			</span>
		</div>
	</div>

	<div class="row">
		<!-- Campo de Nome -->
		<div class=" col-md-6 form-group">
			<label class="form-control-label">Nome</label>
			<input type="text" class="form-control" formControlName="name">
			<span class="text-danger" *ngIf="(name?.dirty || name?.touched) && name?.invalid">
				<span *ngIf="name?.errors?.required">
					Campo obrigatório.
				</span>
				<span *ngIf="name?.errors?.minlength">
					O campo deve ter no mínimo {{name?.errors?.minlength.requiredLength}} caracteres.
				</span>
			</span>
		</div>

		<!-- Campo de E-mail -->
		<div class="col-md-6 form-group">
			<label class="form-control-label">E-mail</label>
			<input type="email" class="form-control" formControlName="email">
			<span class="text-danger" *ngIf="(email?.dirty || email?.touched) && email?.invalid">
				<span *ngIf="email?.errors?.required">
					Campo obrigatório.
				</span>
				<span *ngIf="email?.errors?.email">
					E-mail inválido.
				</span>
			</span>
		</div>

		<!-- Mostra as informações de datas -->
		<div class="col-md-3 mt-3 text-info" *ngIf="usuario?.dateInsert">
			Data da Inclusão: {{usuario?.dateInsert | date : 'dd/MM/yyyy HH:mm:ss'}}
		</div>
		<div class="col-md-3 mt-3 text-info" *ngIf="usuario?.dateUpdate">
			Data da Atualização: {{usuario?.dateUpdate | date : 'dd/MM/yyyy HH:mm:ss'}}
		</div>
	</div>

	<button class="btn btn-success mt-4" (click)="salvar()">
		Salvar
	</button>

</form>